---
ignore: |
  .serena/
rules:
  braces:
    max-spaces-inside: 1
  brackets:
    max-spaces-inside: 1
  colons:
    max-spaces-after: -1
  commas:
    max-spaces-after: -1
  comments:
    require-starting-space: true
  comments-indentation: {}
  document-start: enable
  empty-lines:
    max: 1
  indentation:
    spaces: 2
  key-duplicates: {}
  line-length:
    max: 120
  truthy:
    check-keys: false
